.toggletip-container {
    position: relative;
    display: inline-block;
  }
  
  /* the bubble element, added inside the toggletip live region */
  
  .toggletip-bubble {
    display: inline-block;
    position: absolute;
    left: 100%;
    top: 0;
    width: 11em;
    padding: 0.5rem;
    background: #757272;
    color: #fff;
    font-size: 12px;
    z-index: 99;
  }
  
  button1 {
 /*   
    border-radius: 50%;
    border: 0;
    background: #000;
    font-family: serif;
    font-weight: bold;
    color: #fff;
    */
    /* background: url(tooltip.png) no-repeat; */
    border-radius: 50%;
    min-width: 22px !important;
    display: block;
    background: url(tooltip.png) no-repeat;
  } 
  
  button:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem skyBlue;
  }
  
  /* boilerplate; nothing really to see here */
  
  html {
    font-size: 16px;
    font-family: sans-serif;
  }
  
  * {
    font-size: inherit;
  } 